.about {
	font-family: $font-primary;
	h2 {
		text-align: center;
		font-size: 4rem;
		color: $very-dark-blue;
		padding: 17rem 0 10rem 0;
	}
	&__container {
		display: flex;
		&__items {
			width: 50%;
		}
		.content {
			width: 70%;
			margin: auto;
		}
		h3 {
			text-align: center;
			font-size: 3rem;
			color: $very-dark-blue;
		}
		p {
			padding: 4rem 0 8rem;
			font-size: 1.8rem;
		}

		&__img {
			width: 50%;
		}
	}
}
