footer {
	padding: 10rem 15rem;
	background-color: $very-dark-black-blue;
	color: $grayish-blue;
	border-top-right-radius: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: $font-primary;
	@media only screen and (max-width: 800px) {
		padding: 10rem 0rem;
	}
	@media only screen and (min-width: 500px) {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-around;
	}
	.product {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem;
		@media only screen and (min-width: 500px) {
			padding: 0rem;
			justify-items: flex-start;
		}
	}
	.company {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem;
		@media only screen and (min-width: 500px) {
			padding: 0rem;
			justify-items: flex-start;
		}
	}
	.connect {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem;
		@media only screen and (min-width: 500px) {
			padding: 0rem;
			justify-items: flex-start;
		}
	}
	a {
		color: $grayish-blue;
		font-size: 2rem;
		margin-bottom: 1rem;
		position: relative;
	}
	a::before {
		content: "";
		position: absolute;
		top: 23px;
		width: 50%;
		left: 20%;
		height: 0.3rem;
		background-color: $grayish-blue;
		opacity: 0;
		transition: all 0.3s ease-in-out;
	}
	a:hover::before {
		opacity: 1;
		left: 0;
		width: 100%;
		transition: all 0.3s ease-in-out;
	}
	h5 {
		font-size: 2.5rem;
		padding: 3rem;
		padding-left: 0;
		color: $white;
		@media only screen and (min-width: 500px) {
			padding-top: 0rem;
		}
	}
}
