footer {
	background-color: $very-dark-black-blue;
	color: $grayish-blue;
	border-top-right-radius: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: $font-primary;
	font-size: 3rem;
	.product {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.company {
		display: flex;
		flex-direction: column;
	}
	.connect {
		display: flex;
		flex-direction: column;
	}
	a {
		color: $grayish-blue;
	}
}
