footer {
	padding: 10rem 0;
	background-color: $very-dark-black-blue;
	color: $grayish-blue;
	border-top-right-radius: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: $font-primary;
	font-size: 3rem;
	.product {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 4rem;
	}
	.company {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 4rem;
	}
	.connect {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 4rem;
	}
	a {
		color: $grayish-blue;
	}
	h5 {
		padding: 2rem;
	}
}
