footer {
	padding: 10rem 15rem;
	background-color: $very-dark-black-blue;
	color: $grayish-blue;
	border-top-right-radius: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: $font-primary;
	@media only screen and (min-width: 700px) {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-around;
	}
	.product {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 4rem;
		@media only screen and (min-width: 700px) {
			padding: 0rem;
			justify-items: flex-start;
		}
	}
	.company {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 4rem;
		@media only screen and (min-width: 700px) {
			padding: 0rem;
			justify-items: flex-start;
		}
	}
	.connect {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 4rem;
		@media only screen and (min-width: 700px) {
			padding: 0rem;
			justify-items: flex-start;
		}
	}
	a {
		color: $grayish-blue;
		font-size: 1.7rem;
		margin-bottom: 1rem;
	}
	h5 {
		font-size: 2rem;
		padding: 3rem;
		color: $white;
		@media only screen and (min-width: 700px) {
			padding-top: 0rem;
		}
	}
}
