.intro {
	height: 81.5vh;
	background-image: url(../images/bg-pattern-intro.svg),
		linear-gradient(to right, $very-light-red-gradient, $light-red-gradient);
	background-position: center center;
	border-bottom-left-radius: 10rem;
	header {
		width: 100%;
	}
	&__navigation {
		width: 77.5%;
		margin: auto;
		padding: 6.2rem 0;
		display: flex;
		justify-content: space-between;
		&__logo {
			display: flex;
		}
		ul {
			display: flex;
		}
	}
	&__login {
		.login {
		}
		.signup {
		}
	}
}
