.intro {
	height: 81.5vh;
	background-image: url(../images/bg-pattern-intro.svg);

	// background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
