.intro {
	height: 80rem;
	background-image: url(../images/bg-pattern-intro.svg),
		linear-gradient(to right, $very-light-red-gradient, $light-red-gradient);
	background-position: center center;
	border-bottom-left-radius: 10rem;
	font-family: $font-secondary;
	font-weight: $font-weight-secondary-light;
	color: $white;
	font-size: 1.8rem;
	header {
		width: 100%;
	}
	&__navigation {
		width: 77.5%;
		@media only screen and (max-width: 900px) {
			width: 90%;
		}
		margin: auto;
		padding: 6.2rem 0;
		display: flex;
		justify-content: space-between;
		&__logo {
			display: flex;
		}
		ul {
			display: flex;
			align-items: center;
			@media only screen and (max-width: 900px) {
				display: none;
			}
		}
		li {
			margin-left: 5rem;
		}

		a {
			color: $white;
		}
		&__login {
			display: flex;
			align-items: center;
			@media only screen and (max-width: 900px) {
				display: none;
			}
		}
		&__mobile {
			display: flex;
			display: none;
			@media only screen and (max-width: 900px) {
				display: flex;
			}
			align-items: center;
			flex-direction: column;
			justify-content: center;
			span {
				width: 50px;
				height: 5px;
				background-color: $white;
				display: block;
				margin: 8px auto;
				transition: all 0.3s ease-in-out;
			}
			.activelinks span:nth-child(2) {
				opacity: 0;
			}

			.activelinks span:nth-child(1) {
				transform: translateY(13px) rotate(45deg);
			}

			.activelinks span:nth-child(3) {
				transform: translateY(-13px) rotate(-45deg);
			}
		}
		.mobile__links {
			opacity: 0;
			position: absolute;
			background-color: $white;
			padding: 5rem;
			height: auto;
			top: 20%;
			transition: all 0.5s ease-in-out;
			width: 90%;
			transform: translateX(-110%);
			font-family: $font-primary;
			font-weight: $font-weight-primary-bold;
			display: flex;
			flex-direction: column;
			margin: auto;
			box-shadow: 1px 3px 46px -10px #000000;
			svg {
				transform: scale(1);
				fill: $light-red;
				cursor: pointer;
			}

			li {
				margin-bottom: 4rem;
				margin-left: 0rem;
				position: relative;
				text-align: center;
			}

			a {
				color: $very-dark-black-blue;
				font-size: 2.2rem;
			}
			.buttons {
				width: 100%;
				border-top: 3px solid $grayish-blue;
			}
			.button--1 {
				width: 15rem;
				margin: auto;
				font-size: 2.2rem;
				color: $very-dark-black-blue;
			}
			.button--2 {
				text-align: center;
				width: 15rem;
				margin: auto;
				color: $white;
				background: linear-gradient(to right, $very-light-red, $light-red);
			}
		}
	}
	.active {
		opacity: 1;
		transition: all 0.7s ease-in-out;
		visibility: visible;
		transform: translateX(0%);
	}
	&__description {
		h1 {
			padding: 5rem 0 3rem 0;
			font-size: 6.7rem;
			text-align: center;
			font-family: $font-primary;
			font-weight: $font-weight-primary-bold;
			@media only screen and (max-width: 900px) {
				width: 90%;
				margin: auto;
			}
			@media only screen and (max-width: 800px) {
				font-size: 4.7rem;
			}
			@media only screen and (max-width: 565px) {
				font-size: 3.7rem;
			}
		}
		p {
			text-align: center;
			@media only screen and (max-width: 900px) {
				width: 90%;
				margin: auto;
			}
		}
		&__buttons {
			padding: 5rem 0;
			margin: auto;
			display: flex;
			justify-content: center;
		}
	}
}
.button {
	cursor: pointer;
	padding: 1.5rem 4rem;
	border-radius: 3rem;
}
.button--2 {
	background-color: $white;
	color: $light-red;
	font-family: $font-secondary;
	font-weight: $font-weight-secondary-bold;
	transition: all 0.3s ease-in-out;
}
.button--2:hover {
	background-color: hsla(0, 0%, 100%, 0.267);
	color: $white;
}
.button--3 {
	background-color: $white;
	color: $light-red;
	font-family: $font-secondary;
	font-weight: $font-weight-secondary-bold;
	transition: all 0.3s ease-in-out;
	padding: 1.5rem 2.5rem;
	@media only screen and (max-width: 300px) {
		padding: 1.5rem 1rem;
	}
}
.button--3:hover {
	background-color: hsla(0, 0%, 100%, 0.267);
	color: $white;
}
.button--4 {
	margin-left: 1.5rem;
	border: 1px solid $white;
	padding: 1.5rem 2.5rem;
	@media only screen and (max-width: 300px) {
		padding: 1.5rem 1rem;
	}
}
.flip {
	transform: rotate(180deg) !important;
}
.activate {
	svg {
		transform: rotate(180deg) !important;
	}
	.dropdown {
		display: flex;
	}
	.dropdown__desktop {
		display: flex;
	}
}
.dropdown {
	display: none;
	border-radius: 5px;
	margin-top: 4rem;
	padding: 0 5rem;
	background-color: $grayish-blue;
	flex-direction: column;

	a {
		padding: 2rem;
		margin-bottom: 1rem;
	}
}
.active {
	display: flex;
}
svg {
	cursor: pointer;
}
.dropdown__desktop {
	border-radius: 5px;
	position: absolute;
	margin-top: 4rem;
	padding: 0 1.1rem;
	background-color: $white;
	display: none;
	flex-direction: column;
	text-align: left;
	a {
		color: $very-dark-gray-blue;
		padding: 1.5rem 0;
		margin-bottom: 1rem;

		&:hover {
			font-weight: $font-weight-secondary-bold;
		}
	}
}
#company {
	width: 13.3rem;
}
