.mobiles {
	margin-top: 10rem;
	background-image: url(../images/bg-pattern-circles.svg),
		linear-gradient(to right, $very-dark-gray-blue, #3f4164);
	background-repeat: no-repeat;
	background-position: center center;
	// background-color: $very-dark-desaturated-blue;
	height: 40vh;
}
