.mobiles {
	margin-top: 10rem;
	background-image: url(../images/bg-pattern-circles.svg),
		linear-gradient(to right, $very-dark-gray-blue, $very-dark-desaturated-blue);
	background-repeat: no-repeat;
	background-position: 25% 75%;
	display: flex;
	img {
		position: absolute;
	}
}
