.mobiles {
	margin-top: 10rem;
	background-image: url(../images/bg-pattern-circles.svg),
		linear-gradient(to right, $very-dark-gray-blue, $very-dark-desaturated-blue);
	background-position: bottom 10rem right -25rem;
	background-repeat: no-repeat;
	height: 40vh;
}
