.mobiles {
	margin-top: 10rem;
	background-image: url(../images/illustration-phones.svg);
	background-image: url(../images/illustration-phones.svg);
	background-color: $very-dark-desaturated-blue;
	background-repeat: no-repeat;
	height: 40vh;
}
