.mobiles {
	margin-top: 10rem;
	background-image: url(../images/bg-pattern-circles.svg),
		linear-gradient(to right, $very-dark-gray-blue, $very-dark-desaturated-blue);
	background-repeat: no-repeat;
	background-position: 25% 75%;
	font-family: $font-secondary;
	display: flex;
	position: relative;
	img {
		position: absolute;
	}
	&__content {
		h2 {
			color: $white;
			font-size: 4rem;
			font-weight: $font-weight-secondary-light;
		}
		p {
			color: $white;
		}
	}
}
