//Colors

/* PRIMARY */

$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);

/* NEUTRAL */

$white: hsl(0, 0%, 100%);
$grayish-blue: hsl(240, 2%, 79%); //Footer Text
$very-dark-grayish-blue: hsl(207, 13%, 34%);
$very-dark-black-blue: hsl(240, 10%, 16%); //Footer Background

/* GRADIENT */

$very-light-red-gradient: hsl(13, 100%, 72%); // Intro /CTA
$light-red-gradient: hsl(353, 100%, 62%); // Intro /CTA

$very-dark-gray-blue: hsl(237, 17%, 21%); // Background body gradient
$very-dark-desaturated-blue: hsl(237, 23%, 32%); // Background body gradient

//Fonts

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");

$font-primary: "Overpass", sans-serif;
$font-weight-primary-light: 300;
$font-weight-primary-bold: 600;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap");

$font-secondary: "Ubuntu", sans-serif;
$font-weight-secondary-light: 400;
$font-weight-secondary-medium: 400;
$font-weight-secondary-bold: 400;
